@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Poppins:ital,wght@0,300;0,400;0,700;0,800;1,400;1,500&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    margin: 0rem 5rem;
}
.header{
    background-color: #297eff;
}
.navbar{
    font-size:  1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}
.searchbar{
    position: relative;
    padding: .4rem;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 60px;
    transition: 1s;
    box-shadow: 0 0 0 5px #2573ef;
    display: flex;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.search{
    color: #2573ef ;
    z-index: 100;
}
.close{
    position: absolute;
    right: .5rem;
    padding-left: .5rem;
    border-left: 1px solid #dbdbdb;
}
.searchbar_active{
    width: 350px ;
    justify-content:start;
    padding: 0rem 1rem;
}
.input{
    display: flex;
    justify-content: center;
    width: 85%;

}
.input input{
    width: 100%;
    border: none;
    outline: none;
    padding: 0rem .5rem;
    font-weight: 500;
    background: transparent;
}
.hide{
    display: none !important;
}
.card{
    padding: 1rem;
    border-radius: 21px;
    box-shadow: 0 0 0 2px #2573ef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-bottom: 1.2rem;
}
.card img{
    width: 340px;
    height: 210px;
}
.section1_items{
    display: flex;
    flex-wrap: wrap;
}
.section1 h1{
    padding: 2rem 0rem;
    font-size: 2rem;
}